*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    color:#fff;
    overflow: hidden;
}

.slot-machine-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.slot-machine{
    display:flex;
    gap:20px;
    padding:20px;
    background: #efefef;
    border:5px solid #555;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
}

.reel{
    max-width: 150px;
    min-width: 100px;
    max-height: 150px;
    min-height: 100px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    position: relative;
}

.reel img{
    width:100px;
    height: 100px;
    position: absolute;
    transition: transform 0.3s ease;
}

#handle{
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ff4747;
    color:#fff;
    border:none;
    border-radius: 10px;
}

#message{
    position: fixed;
    top:100px;
    font-size:1.5em;
    color:#ffdf00;
    font-weight: bold;
}

.loss{
    background-color: #ff0000;
}

.win{
    background-color: greenyellow;
}

.confetti{
    position: absolute;
    width:10px;
    height:10px;
    background-color: #ffc107;
    animation: fall 1.5s linear infinite;
    border-radius: 50%;
}

@keyframes fall{
    0%{
        transform: translate(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translate(100vh) rotate(360deg);
        opacity: 0;
    }
}